/* app css stylesheet */

.basemenu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.basemenu:before {
  content: "[";
}

.basemenu:after {
  content: "]";
}

.basemenu > li {
  display: inline;
}

.basemenu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.basemenu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
